/* login */

.loginButton:hover {
    -fx-background-color: #DB0519 !important;
    background-color: #DB0519 !important;
    -fx-text-fill: white;
}

.registerButton:hover {
    -fx-text-fill: white !important;
}

/* login */

/* signup */
.signInRegisterButton:hover {
    -fx-background-color: #DB0519 !important;
    background-color: #DB0519 !important;
    -fx-text-fill: white;
}


/* patient view */

.radio-button > .radio {
    -fx-border-color: #DB0519;
    border-color: #DB0519;
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-width: 2px;
    border-width: 2px;
    -fx-shape: "M 0 5 C 0 2.24 2.24 0 5 0 C 7.76 0 10 2.24 10 5 C 10 7.76 7.76 10 5 10 C 2.24 10 0 7.76 0 5 Z";
}

.radio-button > .radio > .dot {
    background-color: #db051a85;
    -fx-background-color: #db051a85;
    -fx-alignment: center;
    -fx-shape: "M 0 0 m -4.5 0 a 4.5 4.5 0 1 0 9 0 a 4.5 4.5 0 1 0 -9 0";
    -fx-clip: "M -4.5 -4.5 m -4.5 0 a 4.5 4.5 0 1 0 9 0 a 4.5 4.5 0 1 0 -9 0";
    clip: auto;
    
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: #DB0519;
    background-color: #DB0519;
    -fx-alignment: center;
}

.radio-button:hover > .radio > .dot {
    -fx-background-color: #DB0519;
    background-color: #DB0519;
    -fx-alignment: center;
}

.saveButton {
    -fx-background-color: #6DA5D2;
    background-color: #6DA5D2;
    -fx-text-fill: black;
    -fx-background-radius: 38px;
}

.saveButton:hover {
    background-color: #0A4164 !important;
    -fx-background-color:  #0A4164 !important;
    -fx-text-fill: white;
}

.closePopUpButton:hover {
    -fx-background-color: #DB0519 !important;
    background-color: #DB0519;
    -fx-text-fill: white;
}

/* patient view */

/* menu */


.patientRegisterTittle {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 8, 0, 2, 2);
} 

.spListPatients .viewport {
    -fx-background-color:  #0a4164 !important;
    background-color:  #0a4164 !important;
}

.spListPatients .scroll-bar:vertical .thumb {
    -fx-background-color: #6DA5D2 !important;
    background-color: #6DA5D2 !important;
}

.spListPatients .scroll-bar:vertical .track {
    -fx-background-color: #0a4164 !important;
    background-color: #0a4164 !important;
}

.spListPatients > .scroll-bar:vertical > .increment-button,
.spListPatients > .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0 0 0 0;
    padding: 0 0 0 0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-padding: 0 0 0 0;
    padding: 0 0 0 0;
}

.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0 0 0 0;
    padding: 0 0 0 0;
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 0 0 0 0;
    padding: 0 0 0 0;
}


.registerPatientButton:hover {
    -fx-background-color: #DB0519 !important;
    background-color: #DB0519 !important;
    -fx-text-fill: white !important;
}

.registerPatientButton {
    -fx-background-color:  #0A4164;
    background-color:  #0A4164;
    -fx-text-fill: white;
    -fx-background-radius: 50px;
}

.patientCancelDeleteButton:hover {
    -fx-background-color: #DB0519 !important;
    background-color: #DB0519 !important;
    -fx-text-fill: white;
}

.patientDeleteButton:hover {
    -fx-background-color: #6DA5D2 !important;
    background-color: #6DA5D2 !important;
    -fx-text-fill: black;
}

.apPerfil {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 8, 0, 6, 2);
}

.apCont {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 8, 0, 6, 2);
}

.apLista {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 8, 0, 6, 2);
}



/* menu */